<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

<%= simple_form_for [:admin, search_config] do |f| %>

  <%= f.input :name %>


  <div class="row" ng-app="app" ng-controller="SearchConfigController as config">

    <div class="col-xs-6">

      <label>Fields</label>
      <table id="search-fields"
        class="table table-sm"
        data-fields="<%= @fields.to_json %>">
          <tr ng-repeat="field in config.fields">
            <td>
              <input type="checkbox"
                     value="{{field.name}}"
                     ng-model="field.selected"
                     ng-checked="{{field.selected}}"
                     ng-change="config.refresh()"
              />
            </td>
            <td>
              {{field.name}}
              <br>
              <span class="small text-muted">{{config.hint(field.name)}}</span>
            </td>
            <td>
              <input type="text"
                     value="{{field.weight}}"
                     ng-model="field.weight"
                     ng-change="config.refresh()"
              />
            </td>
          </tr>
      </table>

    </div>

    <div class="col-xs-6">
      <%= f.input :config,
        as: :text,
        input_html: {
          rows: 20,
          value: '{{config.config_json}}',
          'data-initial-value' => search_config.config.to_json
        },
        disabled: true %>
    </div>

  </div>

  <%= f.button :submit,
    onclick: %[$('#search_config_config').prop('disabled', false); return true;]
  %>
  <a href="/admin/search_configs" class="btn btn-danger">Cancel</a>
<% end %>

<br>
